@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
   border: 2px solid #fff;
   padding: 12px 36px;
   font-weight: 600;
}
.btn:hover{
   background-color: #fff;
   color: #05003b;
   transition: 0.5s;
   scale: 97%;
}